<html>
    <head>
        <title>OSM Region Viewer</title>

        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"/>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/base/jquery-ui.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
        <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.3"></script>

        <style type="text/css">
            #map {
                height: 90%;
            }
        </style>

        <script type="text/javascript">
            var poly = {
                type: 'Polygon',
                coordinates: [[
                    {{#mapNodes}}
                    [{{lat}}, {{lon}}],
                    {{/mapNodes}}
                ]],
            };

            var minLon = Math.min.apply(undefined,
                poly.coordinates[0].map(function (n) { return n[1]; }));
            var maxLon = Math.max.apply(undefined,
                poly.coordinates[0].map(function (n) { return n[1]; }));
            var minLat = Math.min.apply(undefined,
                poly.coordinates[0].map(function (n) { return n[0]; }));
            var maxLat = Math.max.apply(undefined,
                poly.coordinates[0].map(function (n) { return n[0]; }));

            $(document).ready(function() {
                var map = L.map('map');
                map.addLayer(new L.StamenTileLayer('toner-lite'));
                map.setView([minLat + (maxLat - minLat) / 2, minLon + (maxLon - minLon) / 2], 13);

                var sliderPolyLine = undefined;

                $('#slider').slider({
                    min: 0,
                    max: poly.coordinates[0].length,
                    change: function(event, ui) {
                        if (sliderPolyLine) {
                            map.removeLayer(sliderPolyLine);
                        }

                        sliderPolyLine = L.polyline(
                            poly.coordinates[0].slice(0, ui.value)
                                .map(function(p) {
                                    return L.latLng(p[0], p[1]);
                                })
                        );
                        map.addLayer(sliderPolyLine);

                        console.log('=====');
                        for (i = ui.value - 3; i < ui.value; ++i) {
                            console.log('poly[' + i+ '] = (' + poly.coordinates[0][i][0] + ', ' + poly.coordinates[0][i][1] + ')');
                        }
                    },
                });
            });
        </script>
    </head>
    <body>
        <div>
            <div id="map"/>
        </div>
        <div id="slider"/>
    </body>
</html>
